# Created by .ignore support plugin (hsz.mobi)
.gitignore
.gradle/
.idea/compiler.xml
.idea/copyright/
.idea/encodings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/workspace.xml
build/generated/mockable-android-22.jar
build/generated/res/
build/generated/source/aidl/
build/generated/source/r/androidTest/
build/generated/source/rs/
build/intermediates/blame/res/androidTest/
build/intermediates/exploded-aar/com.android.support/appcompat-v7/22.0.0/aidl/
build/intermediates/exploded-aar/com.android.support/appcompat-v7/22.0.0/assets/
build/intermediates/exploded-aar/com.android.support/cardview-v7/22.0.0/aidl/
build/intermediates/exploded-aar/com.android.support/cardview-v7/22.0.0/assets/
build/intermediates/exploded-aar/com.android.support/palette-v7/22.0.0/aidl/
build/intermediates/exploded-aar/com.android.support/palette-v7/22.0.0/assets/
build/intermediates/exploded-aar/com.android.support/palette-v7/22.0.0/res/
build/intermediates/exploded-aar/com.android.support/recyclerview-v7/22.0.0/aidl/
build/intermediates/exploded-aar/com.android.support/recyclerview-v7/22.0.0/assets/
build/intermediates/exploded-aar/com.android.support/recyclerview-v7/22.0.0/res/
build/intermediates/exploded-aar/com.android.support/support-v13/22.0.0/aidl/
build/intermediates/exploded-aar/com.android.support/support-v13/22.0.0/assets/
build/intermediates/exploded-aar/com.android.support/support-v13/22.0.0/libs/
build/intermediates/exploded-aar/com.android.support/support-v13/22.0.0/res/
build/intermediates/exploded-aar/com.android.support/support-v4/22.0.0/assets/
build/intermediates/exploded-aar/com.android.support/support-v4/22.0.0/libs/
build/intermediates/exploded-aar/com.android.support/support-v4/22.0.0/res/
build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
build/intermediates/incremental/mergeDebugAndroidTestResources/merged.dir/
build/intermediates/incremental/mergeDebugResources/aapt-temp/
build/intermediates/incremental/packageDebugAndroidTest/
build/intermediates/incremental/packageRelease/
build/intermediates/incremental/processDebugAndroidTestResources/
build/intermediates/incremental/processDebugResources/
build/intermediates/manifest/tmp/
build/intermediates/manifests/instant-run/
build/intermediates/res/merged/androidTest/
build/intermediates/rs/
build/intermediates/symbols/androidTest/
local.properties
